.sidebar {
    width: 16%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    display: none;
}

.content {
    overflow-y: scroll;
    overflow: hidden;
    height: 100%;
}

.left-column {
    height: 100vh; /* 100% da altura da viewport */
}

.btn_primary {
    height: 60px;
}

#btn_hidden {
    width: 40px;
    margin-top: 400px;
}

#btn_menu {
    margin-left: 10%;
}

@media (max-width: 1180px) {
    .sidebar {
        width: 20%;
    }
}

@media (max-width: 950px) {
    .sidebar {
        width: 30%;
    }

    button.learn-more {
        width: 9rem;
    }
}

@media (max-width: 600px) {
    .sidebar {
        width: 40%;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 50%;
    }
}








