
.sidebar {
    height: 100vh;
    background-color: #bebcbcaa;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 4px 6px rgba(209, 24, 24, 0.1);
}

.content {
    overflow-y: scroll;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_primary {
    height: 60px;
}

#btn_menu {
    margin-left: 10%;
}

@media (max-width: 1180px) {
    .sidebar {
        width: 20%;
    }
}

@media (max-width: 950px) {
    .sidebar {
        width: 30%;
    }

    button.learn-more {
        width: 9rem;
    }
}

@media (max-width: 600px) {
    .sidebar {
        width: 40%;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 50%;
    }
}








